/*
/// -------------------------------------------------------------------------------------------------------
/// :: Patrocínio Odontologia - Developed by Agência Star | 13/01/2023 - 18:30.
/// :: Collaborators: Mary Lindsen (@marynotjane_) and Hebert Dias (@hebertdev82).
/// :: WARNING: This computer program is protected by copyright law and international treaties.
/// :: Unauthorized duplication or distribution of this program, or any portion of it, may result
/// :: in severe civil or criminal penalties, and will be prosecuted to the maximum extent possible
/// :: under the law.
/// ::
/// :: v.1.0 - 13/01/2023 - Implementation.
/// -------------------------------------------------------------------------------------------------------
*/

@media (max-width: 768px) {
    
    .sobreNos {
        padding: 1em;
        flex-direction: column;
    }

    .sobreNosColumn {
        text-align: center;
    }

    .sobreNosColumn hr {
        text-align: center;
    }
    
    footer {
        padding: 0;
        text-align: center;
    }

    .img-rodape {
        width: 80%;
        margin-bottom: 1em;
    }
}