/*
/// -------------------------------------------------------------------------------------------------------
/// :: Patrocínio Odontologia - Developed by Agência Star | 13/01/2023 - 18:30.
/// :: Collaborators: Mary Lindsen (@marynotjane_) and Hebert Dias (@hebertdev82).
/// :: WARNING: This computer program is protected by copyright law and international treaties.
/// :: Unauthorized duplication or distribution of this program, or any portion of it, may result
/// :: in severe civil or criminal penalties, and will be prosecuted to the maximum extent possible
/// :: under the law.
/// ::
/// :: v.1.0 - 13/01/2023 - Implementation.
/// -------------------------------------------------------------------------------------------------------
*/

@media only screen and (max-width: 500px) {
    /* Root */
    .hrSite {
        text-align: center;
        margin: 0 auto;
    }

    .h2Site {
        text-align: center;
    }

    /* Sobre Nós */
    .sobreNos {
        padding: 1em;
        flex-direction: column;
    }

    .sobreNosColumn {
        text-align: center;
    }

    /* Novidades */
    .novidades {
        padding: 1em;
        flex-direction: column;
    }

    /* Departamentos */
    .containers {
        padding: 1em;
        flex-direction: column;
    }

    .departamentos {
        text-align: center;
    }

    /* Novidades */
    .content-novidade {
        text-align: center;
    }
    
    /* Footer */
    .img-rodape {
        width: 80%;
    }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {

    /* Root */
    .hrSite {
        text-align: center;
        margin: 0 auto;
    }

    .h2Site {
        margin-bottom: 1.5em;
        margin-top: 1.5em;
        text-align: center;
    }

    /* Sobre Nós */
    .sobreNos {
        padding: 1em;
        flex-direction: column;
    }

    .sobreNosColumn {
        text-align: center;
    }

    /* Departamentos */
    .containers {
        padding: 1em;
        flex-direction: column;
    }

    .departamentos {
        text-align: center;
    }

    .card {
        flex: 20%;
    }

    /* Novidades */
    .novidades {
        padding: 1em;
        flex-direction: column;
    }

    .content-novidade {
        text-align: center;
    }

    /* Footer */
    footer {
        padding: 0;
        text-align: center;
    }

    .img-rodape {
        width: 50%;
        margin-bottom: 1em;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    /* Novidades */
    .img-novidades {
        width: 70%;
        height: auto;
    }

    .content-novidade {
        flex: 1;
    }

    .content-novidade figure {
        text-align: center;
    }
    
    /* Footer */
    footer {
        padding: 1em;
        flex-wrap: nowrap;
    }

    .text-rodape {
        max-width: 100%;
    }

}