/*
/// -------------------------------------------------------------------------------------------------------
/// :: Patrocínio Odontologia - Developed by Agência Star | 13/01/2023 - 18:30.
/// :: Collaborators: Mary Lindsen (@marynotjane_) and Hebert Dias (@hebertdev82).
/// :: WARNING: This computer program is protected by copyright law and international treaties.
/// :: Unauthorized duplication or distribution of this program, or any portion of it, may result
/// :: in severe civil or criminal penalties, and will be prosecuted to the maximum extent possible
/// :: under the law.
/// ::
/// :: v.1.0 - 13/01/2023 - Implementation.
/// -------------------------------------------------------------------------------------------------------
*/

@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto-Regular', sans-serif;
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
    --Roxo: #59024B;
    --Amarelo: #F29F05;
    --Preto: #0D0D0D;
    --Branco: #F9F9F9;
}

.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.logo {
    width: 250px;
}

.menu-lista {
    display: flex;
    margin-bottom: 100px;
}

.menu-item {
    list-style: none;
}

.menu-item:last-child a {
    margin-right: 0;
}

.menu-link {
    color: var(--Roxo);
    margin-right: 1.2rem;
    text-decoration: none;
}

.menu-link.ativo {
    color: black;
    font-weight: bold;
}

.menu-link:hover {
    color: rgb(240, 18, 240);
    transition: 0.5s;
}

.bord {
    border: 3px solid var(--Roxo);
    width: 80px;
    margin-left: 2em;
}

.titulo-banner {
    font-weight: normal;
    font-size: 25px;
    margin-top: 1em;
    margin-left: 1.5em;
}

.p-banner {
    margin-top: 1em;
    margin-left: 2em;
    width: 400px;
}

.text-banner {
    display: block;
    float: right;
    margin-top: 1em;
    margin-right: 10.3em;
    color: var(--Roxo);
    font-weight: bold;

}

.arrow {
    width: 40px;
    transform: rotate(90deg);
    margin-left: 66em;
}

.form-consulta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15em;
}

.link-banner {
    padding: 0.8rem;
    padding-top: 1em;
    margin-left: 3em;
    border: 1px solid var(--Roxo);
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    background-color: white;
    color: var(--Roxo);
}

.link-banner:hover {
    background-color: var(--Roxo);
    color: white;
    border: 1px solid var(--Roxo);
    transition: 0.4s;
}

.form-banner {
    border: 2px solid var(--Roxo);
    border-radius: 10px;
    margin-right: 2em;
    padding: 0.5em;
    float: right;
}

.inp-form {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.4em;
    margin-right: 1em;
}

.form-link {
    text-decoration: none;
    color: white;
    background-color: var(--Roxo);
    font-size: 15px;
    padding: 0.7em;
    border-radius: 10px;
}

.form-link:hover {
    border: 1px solid var(--Roxo);
    background-color: white;
    color: var(--Roxo);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

}

.sobrenos-content {
    display: flex;
    flex-direction: column;
}


.img-sobrenos {
    float: left;
    width: 250px;
    margin: 0 3em 2em 3em;
    border: 1px solid var(--Roxo);

}

.titulo-sobrenos {
    padding-bottom: 1em;
    font-size: 1.8em;
}

.text-sobrenos {
    margin-bottom: 2em;
    width: 75%;
}

.link-sobrenos {
    padding: 0.8rem;
    border: 1px solid var(--Roxo);
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    color: var(--Roxo);
    max-width: 230px;
}

.link-sobrenos:hover {
    color: white;
    background-color: var(--Roxo);
    border: 1px solid var(--Roxo);
    transition: 0.5s;
}

.containers {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 6em;
    padding: 5em;
}

.departamentos {
    align-content: center;
    display: grid;
}

.bord-containers {
    border: 3px solid var(--Roxo);
    margin-bottom: 1em;
    width: 15%;
}

.text-depoi {
    max-width: 30rem;
    margin-bottom: 3em;
}

.input-dep {
    padding: 0.8rem;
    border: 1px solid var(--Roxo);
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    color: var(--Roxo);
    width: 245px;
    margin-top: 1em;
    background-color: #f9f9f9;
    text-align: center;
}

.input-dep:hover {
    color: white;
    background-color: var(--Roxo);
    border: 1px solid var(--Roxo);
    transition: 0.5s;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    width: 110px;
    height: 220px;
    background-color: var(--Roxo);
    border: solid 1px red;
    border-radius: 15px;
    flex: 40%;
}

.link-card {
    text-decoration: none;
    color: white;
}

.img-card {
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 100%;
    background-color: white;
    margin-top: 0.5em;
    margin-left: 0.5em;
    width: 3em;
    height: auto;
}

.titulo-card {
    margin-left: 0.5em;
    margin-top: 0.4em;
}

.text-card {
    margin-left: 0.8em;
    max-width: 88%;
    margin-top: 1em;
    font-size: 0.7em;
    color: white;
}

.novidades {
    margin-top: 2em;
}

.bord-novidades {
    border-top: 4px solid var(--Roxo);
    width: 60px;
    margin: 0 auto;
    margin-bottom: 1em;
}

.titulo-novidade {
    text-align: center;
}

.titulo-h3 {
    font-size: 25px;
}

.content-novidade {
    float: left;
    margin-top: 2em;
    margin-left: 250px;
}

.text-novidade {
    max-width: 30rem;
    margin-bottom: 2em;
}

.link-novidade {
    padding: 0.8rem;
    border: 1px solid var(--Roxo);
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    color: var(--Roxo);
    width: 245px;
    background-color: #f9f9f9;
}

.link-novidade:hover {
    background-color: var(--Roxo);
    color: white;
    border: 1px solid var(--Roxo);
    transition: 0.5s;
}

.img-novidades {
    width: 300px;
    height: 300px;
    float: right;
    border-radius: 100%;
    margin-right: 10em;
    margin-top: 1em;
}

.depoimento {
    margin-top: 35em;
}

.bord-depoimento {
    border-top: 3px solid var(--Roxo);
    width: 60px;
    margin-bottom: 1.5em;
}

.titulo-depoimento {
    text-align: center;
}

.content-depoimento {
    margin-top: 8em;
    margin-left: 10em;
}

.text-depoimento {
    max-width: 30rem;
    margin-bottom: 2.5em;
}

.link-depoimento {
    padding: 0.8rem;
    border: 1px solid var(--Roxo);
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    color: var(--Roxo);
    width: 245px;
    background-color: #f9f9f9;
}




/* Sobre Nós */
.sobreNos {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobreNosColumn {
    padding: 2em;
    flex: 1 1 auto;
}

.sobreNosColumn hr {
    border: 3px solid var(--Roxo);
    width: 80px;
    margin-bottom: 1em;
}






/* Footer */
footer {
    padding: 2em;
    margin-top: 10em; /* tirar */
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(208, 200, 200, 0.252);
    -webkit-box-shadow: 0px -10px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px -10px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0, 0.15);
    text-align: center;
}

.footerColumn {
    padding: 2em;
    flex: 1 1 auto;
}

.linkFooter i {
    font-size: 1.4em;
    margin-right: 0.666em;
    color: var(--Roxo);
}

.linkFooter span {
    color: var(--Preto);
}

.linkFooter a {
    margin-bottom: 0.45em;
}

.linkFooter a:hover {
    transition: all 0.3s;
    color: var(--Roxo);
}

.footerTitle {
    text-align: center;
    font-family: 'Roboto-Bold', sans-serif;
    margin-bottom: 2em;
    color: var(--Roxo);
    text-transform: uppercase;
}

.fim {
    font-size: 0.9em;
    background-color: var(--Roxo);
    padding: 1.2em;
    text-align: center;
    width: 100%;
    color: white;
}

.link-susi {
    text-decoration: none;
    color: white;
}

.img-rodape {
    width: 200px;
}

.text-rodape {
    max-width: 30rem;
}
